/* @import "https://fonts.googleapis.com/css?family=Arimo"; */
@font-face {
  font-family: "Arimo-Bold-Italic";
  src: local("Arimo"),
    url("../../fonts/arimo/static/Arimo-BoldItalic.ttf") format("truetype");
}

.topTitle {
  color: white;
  font-family: "Arimo-Bold-Italic", sans-serif;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
  /* font-weight: 800; */
  line-height: 1;
}

.top__text {
  color: #fcba28;
}

.btn {
  padding: 0.6rem 1.4rem;
  font-size: 18px;
  color: #fcba28;
}

.btnGroup {
  display: flex;
  justify-content: center;
  margin: 8rem auto 8rem auto;
  /* width: 210px; */
}

.btn.btn1 {
  border-top: 2px solid rgb(59, 62, 67);
  border-right: 1px solid rgb(59, 62, 67);
  border-left: 2px solid rgb(59, 62, 67);
}

.btn.btn2 {
  border-top: 2px solid rgb(59, 62, 67);
  border-bottom: 2px solid rgb(59, 62, 67);
  border-right: 2px solid rgb(59, 62, 67);
  border-left: 1px solid rgb(59, 62, 67);
}
