.wrapper {
  box-sizing: border-box;
  display: grid;
  column-gap: 1rem;
  row-gap: 3.4rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "top top top"
    ".     para      ."
    " . para2 .";
}

.text {
  line-height: 1.7rem;
  font-size: 20px;
  text-indent: 30px;
  color: #fff;
}

.top {
  font-size: 60px;
  color: rgb(184, 26, 178);
  grid-area: top;
  margin: 3rem 0 6rem 0;
  justify-self: center;
}

.para {
  grid-area: para;
  font-family: "IBM Plex Sans";
}

.para::before {
  content: "Lorem ";
  color: red;
  font-weight: bold;
  font-size: 25px;
}

.para2 {
  grid-area: para2;
}

.para2::before {
  content: "Pizzs ";
  color: red;
  font-weight: bold;
  font-size: 25px;
}
