.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 1rem;
  color: red;
  font-size: 1.6rem;
}
