.listWrapper {
  display: grid;
  grid-template-columns: 650px 650px;
  justify-items: center;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  color: rgb(184, 164, 54);
  margin-bottom: 2rem;
}

.name {
  color: darkgray;
}

.pic {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.email {
  color: rgba(7, 98, 209, 0.486);
}
