.wrapper {
  height: 100vh;
  color: red;
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: auto;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px rgba(255, 255, 255, 0.664) solid;
  text-align: center;
  background: #171717;
}

.top {
  margin-top: 5rem;
}
